/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	background-color: grey;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* ------------------ */

.form {
	max-width: 550px;
	margin: 0px auto;
	color: #000;
	padding: 30px 0;
	background-color: #fff;
	text-align: center;
	border: 1px solid #E5EBF1;
	border-radius: 3px;

}

.form__title {
	font-size: 24px;
	font-weight: 700;
}

.form__title ,
.form__owner,
.form__type {
	padding-bottom: 10px;
}

.form__item {
	border: 1px solid #E5EBF1;
	border-radius: 3px;
	margin: 10px 20px;
	padding-left: 10px;
	background-color: #E5EBF1;
	line-height: 30px;
	display: flex;
	flex-direction: start;
	position: relative;
	overflow: hidden;
}

.form__item:hover {
	background-color: #C5D0DB;
	cursor: pointer;
}

.form__item .vote-count {
	padding-left: 5px;
}

.form__item .count-percent {
	position: absolute;
	left: 60%;
}

.progres-bar {
	background-color: blue;
	opacity: 0.2;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	left: -100%;
	
}
